body {
    font-family: Arial;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 600px;
    margin: auto;
}

.grid-container div {
    background-color: lightblue;
    padding: 40px;
    border: 2px solid black;
    font-size: 20px;
}